<div class="w-full py-16 px-8 flex flex-col items-center">
  <div class="profile-container"></div>
  <h1 class="text-center">Manuel A. Jiménez</h1>
  <span class="px-3 py-2 rounded profesional-tag">Software Engenieer</span>
  <span class="separator"></span>
  <div class="flex flex-col w-full gap-4">
    <div class="w-full flex gap-4">
      <a
        target="_blank"
        class="logo-container"
        href="mailto:maxjim70@gmail.com"
      >
        <i
          class="pi pi-envelope"
          style="color: var(--color-primary); font-size: 1rem"
        ></i>
      </a>
      <div class="flex flex-col gap-1 w-full truncate">
        <h4 class="m-0 menu-side-title">EMAIL</h4>
        <a
          class="m-0 menu-side-subtitle truncate no-underline"
          [textContent]="'maxjim70@gmail.com'"
          target="_blank"
          href="mailto:maxjim70@gmail.com"
        ></a>
      </div>
    </div>
    <div class="w-full flex gap-4">
      <a target="_blank" class="logo-container" href="tel:+573225441304">
        <i
          class="pi pi-phone"
          style="color: var(--color-primary); font-size: 1rem"
        ></i>
      </a>
      <div class="flex flex-col gap-1 w-full truncate">
        <h4 class="m-0 menu-side-title">PHONE</h4>
        <a
          class="m-0 menu-side-subtitle truncate no-underline"
          [textContent]="'+57 3225441304'"
          target="_blank"
          href="tel:+573225441304"
        ></a>
      </div>
    </div>
    <div class="w-full flex gap-4">
      <a
        target="_blank"
        class="logo-container"
        href="https://www.linkedin.com/in/manuel-alejandro-jimenez-acuna-9a551b247/"
      >
        <i
          class="pi pi-linkedin"
          style="color: var(--color-primary); font-size: 1rem"
        ></i>
      </a>
      <div class="flex flex-col gap-1 w-full truncate">
        <h4 class="m-0 menu-side-title">linkedin</h4>
        <a
          class="m-0 menu-side-subtitle truncate no-underline"
          [textContent]="'Manuel Alejandro Jiménez Acuña'"
          target="_blank"
          href="https://www.linkedin.com/in/manuel-alejandro-jimenez-acuna-9a551b247/"
        ></a>
      </div>
    </div>
    <div class="w-full flex gap-4">
      <a
        target="_blank"
        class="logo-container"
        href="https://www.instagram.com/maxjim77/"
      >
        <i
          class="pi pi-instagram"
          style="color: var(--color-primary); font-size: 1rem"
        ></i>
      </a>
      <div class="flex flex-col gap-1 w-full truncate">
        <h4 class="m-0 menu-side-title">instagram</h4>
        <a
          class="m-0 menu-side-subtitle truncate no-underline"
          [textContent]="'@maxjim77'"
          target="_blank"
          href="https://www.instagram.com/maxjim77/"
        ></a>
      </div>
    </div>
    <div class="w-full flex gap-4">
      <a
        target="_blank"
        class="logo-container"
        href="https://www.facebook.com/manuelalejandro.jimenezacuna"
      >
        <i
          class="pi pi-facebook"
          style="color: var(--color-primary); font-size: 1rem"
        ></i>
      </a>
      <div class="flex flex-col gap-1 w-full truncate">
        <h4 class="m-0 menu-side-title">facebook</h4>
        <a
          class="m-0 menu-side-subtitle truncate no-underline"
          [textContent]="'Manuel Jiménez '"
          target="_blank"
          href="https://www.facebook.com/manuelalejandro.jimenezacuna"
        ></a>
      </div>
    </div>
    <div class="w-full flex gap-4">
      <a
        target="_blank"
        class="logo-container"
        href="https://maps.app.goo.gl/gHpo6FEusA9qCLoV8"
      >
        <i
          class="pi pi-map-marker"
          style="color: var(--color-primary); font-size: 1rem"
        ></i>
      </a>
      <div class="flex flex-col gap-1 w-full truncate">
        <h4 class="m-0 menu-side-title">location</h4>
        <a
          class="m-0 menu-side-subtitle truncate no-underline"
          [textContent]="'Boyacá, Colombia.'"
          target="_blank"
          href="https://maps.app.goo.gl/gHpo6FEusA9qCLoV8"
        ></a>
      </div>
    </div>
  </div>
</div>
